<section class="meta">
  <h3>Discussion, links, and tweets</h3>
  <section class="copy">
    <a href="//twitter.com/{{ site.twitter }}" target="_blank">
      <img src="{{ site.gravatar_url }}?s=142" height="50" width="50" />
    </a>

    <p>
      Feel free to ask any questions or give me feedback about any post, new or old, doesn't matter (<a href="//twitter.com/{{ site.twitter }}" target="_blank">@leogcrespo</a>).
    </p>

    <a href="//twitter.com/share" class="twitter-share-button" data-count="none" data-via="{{ site.twitter }}">Tweet</a>
    <a href="//twitter.com/{{ site.twitter }}" class="twitter-follow-button" data-show-count="false">Follow @{{ site.twitter }}</a>
    <script src="//platform.twitter.com/widgets.js" type="text/javascript"></script>
  </section>
</section>
