<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
  <meta charset="utf-8">
  <title>
    {% if page.title %}
      {{ page.title }} &ndash;
    {% endif %}
    {{ site.name }}
  </title>

  <meta name="author" content="{{ site.name }}" />
  <meta name="description" content="{{ site.description }}" />

  <link rel="alternate" type="application/rss+xml" href="/atom.xml" />

  {% stylesheet app media="screen, projection" %}
  {% stylesheet syntax %}
  {% stylesheet iphone media="only screen and (max-device-width: 480px)" %}
  {% stylesheet iphone media="only screen and (device-width: 768px)" %}

  <link href='http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz' rel='stylesheet' type='text/css'>
  <link rel="apple-touch-icon" href="/apple-touch-icon.png" />

  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
  {% javascript app %}

  {% if site.safe and page.analytics != false %}
  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', '{{ site.analytics.google.tracking_id }}']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>
  {% endif %}
</head>

<body>
  <header>
    <a href="/">
      <img src="{{ site.gravatar_url }}?s=150" height="75" width="75" class="avatar" />
    </a>

    <div class="header-row">
      <section class="name">
        <a href="/">
          <span id="fname">{{ site.fname }}</span>
          <span id="lname">{{ site.lname }}</span>
        </a>
      </section>
      <nav>
        <ul>
          <li><a href="/about.html">about</a></li>
          <li><a href="/">posts</a></li>
        </ul>
      </nav>
    </div>

    <section class="meta">
      <a href="{{ site.github_url }}" target="_blank"><img src="{% asset_path github.png %}" /></a>
      <a href="https://twitter.com/{{ site.twitter }}" target="_blank"><img src="{% asset_path twitter.png %}"></a>
      <a href="/atom.xml"><img src="{% asset_path rss.png %}" /></a>
    </section>


  </header>

  {{ content }}
</body>

</html>
